.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10em;
    
}

h3{
    color: aliceblue;
    text-align: center;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.formulario{
color: aliceblue;
   margin: 20px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 30px;
   text-align: center;
   padding-bottom: 10em;
   
}

#valor{
    border-radius: 30px;
    text-align: center;
    font-size: 50px;
}

#cotizador{
    
    font-size: 30px;
    border-radius: 20px;

}